*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

/**Div's Gerais*/
.clear{
	clear: both;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
/***************/

header{
	padding: 10px 2%;
	background-color: #72b8b8;
}

.logo-1{
	float: left;
	width: 100px;
	height: 70px;
	background-image: url('../assets/logo-1.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.logo-2{
	float: right;
	width: 100px;
	height: 70px;
	background-image: url('../assets/logo-2.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@media screen and (max-width: 510px){

	header{
		text-align: center;
	}
	.logo-1, .logo-2{
		margin-top: 10px;
		display: inline-block;
		float: none;
	}
}

