/* Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kanit', sans-serif;
}

html, body{
	height: 100%;
}

/* Fim Reset */

/* DIV's Gerais */

.clear{
	clear: both;
}

.container{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

/* Fim DIV's Gerais */

/* Início Header */

header{
	padding: 20px 2%;
	height: 120px;
	background-color: #6948a2;
}

header .logo{
	float: left;
	width: 208px;
	height: 82px;
	background-image: url('../assets/otilap-technology-logo.png');
	background-size: contain;

}

header nav.menu-desktop{
	float: right;
	padding: 20px 0;
}

header nav.menu-desktop ul{
	list-style-type: none;
}

header nav.menu-desktop li{
	float: left;
	padding: 0 30px;
	font-style: italic;
	font-size: 23px;
}

header nav.menu-desktop a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

nav.menu-mobile{
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	margin: 20px 2%;
	cursor: pointer;
	background-image: url('../assets/menu-mobile.png');
	background-position: center;
	background-size: contain;
}

nav.menu-mobile:hover ul{
	opacity: 1;

}

nav.menu-mobile ul{
	opacity: 0;
	transition: 1s;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0;
	top: 80px;
	width: 100%;
	list-style-type: none;
	text-align: center;
}

nav.menu-mobile ul li:hover{
	background-color: rgb(0, 0, 0);
}

nav.menu-mobile ul li{
	transition: 0.4s;
	border-bottom: 1px solid rgb(230, 230, 230);
	padding: 8px 0;
}

nav.menu-mobile ul li a{
	text-decoration: none;
	color: white;
}

/* Fim Header */

/* Início Sessão Banner */

section.banner{
	width: 100%;
	height: calc(100vh - 120px);
	background-color: black;
	background-image: url('../assets/bg.png');
	background-size: contain;
	background-position: right top;
	background-repeat: no-repeat;
}

section.banner a{
	text-decoration: none;
	color: black;
}

.text-banner{
	padding: 100px;
}

.text-banner-single{
	margin-top: 12px;
	padding: 5px 15px;
	width: 314px;
	height: 50px;
	background-image: url('../assets/box-text.png');
	background-size: 100% 100%;
	text-transform: uppercase;
	font-size: 25px;
	font-style: italic;
	color: white;
}

.text-banner .text-banner-single:nth-of-type(2){
	width: 264px;
	position: relative;
	left: -12px;
}

.text-banner .text-banner-single:nth-of-type(3){
	width: 224px;
	position: relative;
	left: -22px;
}

.text-banner .text-banner-single:nth-of-type(4){
	padding: 2px 17px;
	width: 300px;
	height: 30px;
	position: relative;
	left: -32px;
	background-image: url('../assets/box-white-text.png');
	font-size: 18px;
}

/* Fim Sessão Banner */

/* Início Sessão Produtos Destaque */

section.produtos-destaque{
	padding: 90px 2%;
}

.line-titulo{
	position: relative;
	margin: 0 auto;
	text-align: center;
	background-color: black;
	height: 2px;
	max-width: 700px;
}

section.produtos-destaque h2{
	padding: 0 20px;
	display: inline-block;
	position: relative;
	top: -20px;
	text-align: center;
	font-size: 25px;
	font-style: italic;
	text-transform: uppercase;
	background-color: white;
}

/* Fim Sessão Produtos Destaque */

/* Início Media Query */

@media screen and (max-width: 800px){
	header nav.menu-desktop{
		display: none;
	}

	header nav.menu-mobile{
		display: block;
	}
}

@media screen and (max-width: 768px){
	section.banner{
		background-position: center;
	}
}

@media screen and (max-width: 580px){

	.text-banner{
		padding: 40px;
	}

	.text-banner-single{
		padding: 10px 15px;
		font-size: 18px;
		
	}

	.text-banner .text-banner-single:nth-of-type(2){
		width: 264px;
		position: relative;
		left: -12px;
	}

	.text-banner .text-banner-single:nth-of-type(3){
		width: 224px;
		position: relative;
		left: -22px;
	}
}

/* Fim Media Query */

