/* Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body{
	height: 100%;
}
/* Fim Reset */

/* DIV's Gerais */
.clear{
	clear: both;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}
/* Fim DIV's Gerais */

header{
	width: 100%;
	height: 90vh;
	min-height: 800px;
	padding: 30px 2%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../assets/bg_header.jpg');
	background-size: cover;
	background-position: center;
}

header .logo{
	float: left;
	width: 90px;
	height: 90px;
	background-image: url('../assets/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}

header nav{
	float: right;
}

nav.mobile-menu{
	display: none;
	cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	background-image: url('../assets/menu.png');
	background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
	opacity: 1;

}

nav.mobile-menu ul{
	opacity: 0;
	transition: 1s;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 0;
	top: 80px;
	width: 100%;
	list-style-type: none;
	text-align: center;
}

nav.mobile-menu ul li:hover{
	background-color: rgb(230, 230, 230);
}

nav.mobile-menu ul li{
	transition: 0.4s;
	border-bottom: 1px solid black;
	padding: 8px 0;
}

nav.mobile-menu ul li a{
	text-decoration: none;
	color: black;
}

header nav.desktop-menu  ul{
	list-style-type: none;
}

header nav.desktop-menu li{
	float: left;
	margin: 0 15px;
}

header nav.desktop-menu li a{
	color: white;
	text-decoration: none;
}

.chamada1{
	float: right;
	margin: 100px 100px;
	max-width: 550px;
}

.chamada1 h2{
	color: white;
	font-size: 40px;
	font-weight: 300;
}

.chamada1 p{
	color: white;
	font-size: 15px;
	margin-top: 10px;
	font-weight: 300;
}

section.sessao1{
	width: 100%;
	background-color: #2f8064;
	padding: 0 2%;
	height: 320px;
}

section.sessao1 .container{
	max-width: 800px;
	height: calc(100% + 30px);
}

.texto-sessao1{
	width: 50%;
	float: left;
	color: white;
	margin-top: 20px;
}

.texto-sessao1 h2{
	font-size: 26px;
	font-weight: 300;
}

.texto-sessao1 p{
	font-weight: 300;
	margin-top: 20px;
	font-size: 17px;
}

.texto-sessao1 ul{
	margin-top: 10px;
	font-size: 14px;
	list-style-position: outside;
	padding-left: 15px;
}

.texto-sessao1 ul li{
	width: 100%;
	float: left;
	margin-top: 10px;
}

.btn1-texto {
	margin-top: 20px;
	background-color: #1f5744;
	width: 165px;
	height: 44px;
	border-radius: 30px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	line-height: 44px;
}


.btn1-texto:hover{
	background-color: #2a7058;
}

.device-sessao1{
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	top: -30px;
	left: -80px;
	background-image: url('../assets/device.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.sessao2{
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	background-color: white;
}

.sessao2 .container{
	max-width: 1000px;
}

.sessao2 h2{
	color: #2f8064;
	font-weight: 300;
}

.sessao2 p{
	margin-top: 30px;
	max-width: 900px;
	display: inline-block;
}

.sessao2 img{
	position: relative;
	top: 70px;
	width: 100%;
	margin-top: 10px;
	-webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.54);
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.54);
}

.sessao3{
	width: 100%;
}

.part1{
	color: white;
	float: left;
	width: 50%;
	padding: 140px 0 90px 0;
	background-color: #0dca71;
}

.wraper-part1{
	max-width: 600px;
	float: right;
	padding-right: 30px;
}

.part1 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 25px;
}

.part1 p{
	font-size: 17px;
	margin-top: 10px;
	line-height: 30px;
	font-weight: 300;
}

.part2{
	float: left;
	width: 50%;
	padding: 140px 0 90px 0;
	background-color: #f5f5f5;
}

.sobre-autor{
	float: left;
	max-width: 600px;
	padding-left: 30px;
}

.titulo-autor{
	float: left;
	width: 100%;
}

.wraper-titulo-autor{
	float: left;
}

.titulo-autor h2{
	color: #232323;
	font-size: 23px;
	font-weight: 400;
	padding-right: 20px;
}

.titulo-autor p{
	font-size: 13px;
	font-style: italic;
	color: #232323;
	font-weight: 300;
}

.titulo-autor .img-autor{
	position: relative;
	top: -4px;
	float: left;
	width: 40px;
	height: 40px;
	background-color: gray;
	border-radius: 20px;
}

.texto-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
}

.texto-autor p{
	color: #232323;
	font-size: 17px;
	font-weight: 300;
}

.slider-bullets{
	width: 100%;
	float: left;
	margin-top: 12px;
	padding-left: 30px;
}

.slider-bullets span{
	float: left;
	width: 16px;
	height: 16px;
	background-color: rgb(200, 200, 200);
	border-radius: 8px;
	margin-right: 8px;
	cursor: pointer;
}

@media screen and (max-width: 768px){

	header{
		width: 100%;
		height: auto;
		min-height: 90vh;
	}

	nav.desktop-menu{
		display: none;
	}

	nav.mobile-menu{
		display: block;
		
	}

	.chamada1{
		float: none;
		margin: 100px 0;
		max-width: none;
		width: 100%;
		text-align: center;
	}
	
	.chamada1 h2{
		color: white;
		font-size: 30px;
		padding: 0 10px;
		font-weight: 300;
	}

	.chamada1 p{
		color: white;
		font-size: 15px;
		margin-top: 20px;
		font-weight: 300;
	}

	section.sessao1{
		padding: 40px 2%;
		height: auto;
		text-align: center;
	}

	.texto-sessao1{
		width: 100%;
		margin-top: 0;
		padding-left: 0;
		position: static;
		float: none;
		display: inline-block;
	}

	.texto-sessao1 ul{
		margin-top: 20px;
		display: inline-block;
	}

	.texto-sessao1 ul li{
		float: none;
		text-align: left;
	}

	.device-sessao1{
		display: none;
	}

	.btn1-texto{
		display: inline-block;
	}

	.sessao2{
		padding: 40px 2%;
	}
}