/* Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body{
	height: 100%;
}
/* Fim Reset */

/* DIV's Gerais */
.clear{
	clear: both;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}
/* Fim DIV's Gerais */

header{
	width: 100%;
	height: 90vh;
	padding: 30px 2%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('../assets/bg_header.jpg');
	background-size: cover;
	background-position: center;
}

header .logo{
	float: left;
	width: 90px;
	height: 90px;
	background-image: url('../assets/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
}

header nav{
	float: right;
}

header nav ul{
	list-style-type: none;
}

header nav li{
	float: left;
	margin: 0 15px;
}

header li a{
	color: white;
	text-decoration: none;
}

.chamada1{
	float: right;
	margin: 100px 100px;
	max-width: 550px;
}

.chamada1 h2{
	color: white;
	font-size: 40px;
	font-weight: 300;
}

.chamada1 p{
	color: white;
	font-size: 15px;
	margin-top: 10px;
	font-weight: 300;
}

section.sessao1{
	width: 100%;
	background-color: #2f8064;
	padding: 10px 2% 0px;
}

section.sessao1 .container{
	max-width: 800px;
}

.texto-sessao1{
	width: 50%;
	float: left;
	color: white;
}

.texto-sessao1 h2{
	font-weight: 300;

}

.texto-sessao1 p{
	margin-top: 20px;
	font-size: 13px;
}

.texto-sessao1 ul{
	margin-top: 10px;
	font-size: 13px;
	list-style-position: inside;
}

.texto-sessao1 ul li{
	width: 100%;
	float: left;
}

.btn1-texto {
	margin-top: 10px;
	background-color: #1f5744;
	width: 165px;
	height: 44px;
	border-radius: 30px;
	color: white;
	cursor: pointer;
	text-align: center;
	line-height: 44px;
}


.btn1-texto:hover{
	background-color: #2a7058;
}

.device-sessao1{
	width: 50%;
	height: 300px;
	float: left;
	background-image: url('../assets/device.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
}